<section class="d-flex justify-content-center" >
  <div class="card col-sm-6 p-3">
    <div class="mb-2">
      <form class="row g-3">


        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="inputPassword6" class="col-form-label">Clave del Proyecto</label>
          </div>
          <div class="col-auto">
            <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
          </div>
        </div>
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="inputPassword6" class="col-form-label">Nombre de Proyecto</label>
          </div>
          <div class="col-auto">
            <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
          </div>
        </div>

        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="inputPassword6" class="col-form-label">Cordinador del proyecto</label>
          </div>
          <div class="col-auto">
            <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
          </div>
        </div>

        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="inputPassword6" class="col-form-label">Nombre del programa al cual pertenece el proyecto</label>
          </div>
          <div class="col-auto">
            <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
          </div>
        </div>
        <br><br><br>
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <button type="button" class="btn btn-outline-secondary">Descargar</button>
        </div>
      </form>
    </div>
  </div>
</section>

