<section class="d-flex justify-content-center" >
  <div class="card col-sm-6 p-3">
    <div class="mb-3" >
      <h4>FO-tese-da-73</h4>
    </div>
    <div class="mb-2">
      <form action = "">
        <div class="mb-2">


          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              División
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
              <li><a class="dropdown-item" href="#">1. Ingeniería en Sistemas Computacionales</a></li>
              <li><a class="dropdown-item" href="#">2. Ingeniería Industria</a></li>
              <li><a class="dropdown-item" href="#">3. Ingeniería Química</a></li>
              <li><a class="dropdown-item" href="#">4. Ingeniería Electrónica</a></li>
              <li><a class="dropdown-item" href="#">5. Ingeniería Bioquímica</a></li>
              <li><a class="dropdown-item" href="#">6. Ingeniería Mecatrónica</a></li>
              <li><a class="dropdown-item" href="#">7. Contador Público</a></li>
              <li><a class="dropdown-item" href="#">8. Ingeniería Mecánica</a></li>
              <li><a class="dropdown-item" href="#">9. Ingeniería Gestión Empresaria</a></li>
              <li><a class="dropdown-item" href="#">10. Ingeniería Informátic</a></li>
              <li><a class="dropdown-item" href="#">11. Ingeniería Aeronáutica</a></li>
            </ul>
          </div>

        </div>

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            Periodo
          </button>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">

            <li><a class="dropdown-item" href="#">Periodo 2016-B</a></li>
            <li><a class="dropdown-item" href="#">Periodo 2017-A</a></li>
            <li><a class="dropdown-item" href="#">Periodo 2017-B</a></li>
            <li><a class="dropdown-item" href="#">Periodo 2018-A</a></li>
            <li><a class="dropdown-item" href="#">Periodo 2018-B</a></li>
            <li><a class="dropdown-item" href="#">Periodo 2019-A</a></li>
            <li><a class="dropdown-item" href="#">Periodo 2019-B</a></li>
            <li><a class="dropdown-item" href="#">Periodo 2020-A</a></li>
            <li><a class="dropdown-item" href="#">Periodo 2020-B</a></li>
            <li><a class="dropdown-item" href="#">Periodo 2021-A</a></li>
            <li><a class="dropdown-item" href="#">Periodo 2021-B</a></li>
            <li><a class="dropdown-item" href="#">Periodo 2022-A</a></li>
          </ul>
        </div>

        <div class="mb-2">

        </div>
        <div class="mb-2">
          <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="NOMBRE DEL PROYECTO" aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
          </div>


        </div>
        <div class="mb-2">

        </div>
        <div class="mb-2">
          <button class="btn btn-primary">Buscar</button>

        </div>


      </form>
    </div>
  </div>
</section>
