
<section class="w-50 mx-auto text-center pt-5">
  <div class="form" style="max-width: 1800px; ">
    <div class="row g-0">
      <div class="col-md-8" >
        <img src="/assets/inicio.jpg" class="card-img-top" alt="...">
      </div>

      <div class="col-md-4">
        <div class="card-body">
          <div class="button">
            <button type="button" class="btn btn-success btn-lg gap-2 col-10 mx-auto" [routerLink]="['acceso']">PERSONAL DOCENTE</button><br><br><br>
            <button type="button" class="btn btn-success btn-lg gap-2 col-10 mx-auto" [routerLink]="['acceso']">PERSONAL ADMINISTRATIVO</button><br><br><br>
            <button type="button" class="btn btn-success btn-lg gap-2 col-10 mx-auto" [routerLink]="['registrar']">Registrar</button><br><br>
          </div>
          </div>
      </div>
    </div>
  </div>

</section>

