<section class="d-flex justify-content-center" >
  <div class="card col-sm-6 p-3">
    <div class="mb-2">
      <label>Prioridad A: El proyecto es de carácter relevante, de acuerdo con el impacto de sus resultados en la resolución a corto plazo de una problemática a nivel regional o institucional. <br>

        Prioridad B: El proyecto representa una alternativa viable para el mejoramiento de una situación a nivel institucional o regional a mediano plazo.<br>

        Prioridad C: El proyecto plantea respuestas a problemas específicos del Departamento en el corto plazo.</label><br><br>
      <div class="col-md-5">
        <label for="inputZip" class="d-flex justify-content-center">Prioridad del proyecto</label>
        <br>
        <div class="form-check form-check-inline">
          <input class="form-check-input " type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">a</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">b</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">c</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
          <label class="form-check-label" for="inlineRadio3">d</label>
        </div>
      </div>
    </div>
  </div>
</section>


