<section class="d-flex justify-content-center" >
  <div class="card col-sm-6 p-3">
    <div class="mb-3" >
      <h5>FO-TESE-DA-69-PIDT03</h5>
    </div>
    <div class="mb-2">
      <form class="row g-3">
        <div class="col-md-3">
          <label for="inputZip" class="form-label">Periodo Escolar</label>
          <select id="inputState4" class="form-select" formControlName="area"><br>
            <option selected >Seleccionar</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="inputZip" class="form-label">Division</label>
          <select id="inputState4" class="form-select" formControlName="area"><br>
            <option selected >Seleccionar</option>
          </select>
        </div>
        <div class="col-md-5">
          <label for="inputZip" class="form-label">Clave</label>
          <select id="inputState4" class="form-select" formControlName="area"><br>
            <option selected >Seleccionar</option>
          </select>
        </div>

