<section class="d-flex justify-content-center" >
  <div class="card col-sm-6 p-3">
    <div class="mb-2">
      <form class="row g-3">
        <br><br><br>
        <label>CRITERIOS GENERALES DE EVALUACIÓN</label>


        <div class="col-md-6">
          <label for="inputPrograma" class="form-label" >CALIDAD DE LA PROPUESTA (Máximo 75 puntos)</label>
          <label for="inputPrograma" class="form-label" >1. Antecedentes y justificación</label>
        </div>
        <div class="col-md-6">
          <label for="inputZip" class="form-label">Escala de Calificacion</label><br><br>
          <select id="inputPrograma1" class="form-select" formControlName="programa">
            <option selected>Seleccione (0-10)</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>

        <div class="col-md-6">
          <label for="inputPrograma" class="form-label" >2. Metodología adecuada</label>
        </div>
        <div class="col-md-6">
          <select id="inputPrograma" class="form-select" formControlName="programa">
            <option selected>Seleccione (0-10)</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>

        <div class="col-md-6">
          <label for="inputPrograma" class="form-label" >3. Claridad de los objetivos</label>
        </div>
        <div class="col-md-6">
          <select id="inputPrograma" class="form-select" formControlName="programa">
            <option selected>Seleccione (0-10)</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>

        <div class="col-md-6">
          <label for="inputPrograma" class="form-label" >4. Trascendencia e impacto</label>
        </div>
        <div class="col-md-6">
          <select id="inputPrograma" class="form-select" formControlName="programa">
            <option selected>Seleccione (0-10)</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>

        <div class="col-md-6">
          <label for="inputPrograma" class="form-label" >5. Vinculación con el sector productivo</label>
        </div>
        <div class="col-md-6">
          <select id="inputPrograma" class="form-select" formControlName="programa">
            <option selected>Seleccione (0-10)</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>

        <div class="col-md-6">
          <label for="inputPrograma" class="form-label" >6. Formación de recursos humanos y/o aportación al sector social.</label>
        </div>
        <div class="col-md-6">
          <select id="inputPrograma" class="form-select" formControlName="programa">
            <option selected>Seleccione (0-10)</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>

        <div class="col-md-6">
          <label for="inputPrograma" class="form-label" >Calidad de la propuesta Subtotal.</label>
        </div>
        <div class="col-md-6">
          <div class="col-auto">
            <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

